{%extends 'data2.html' %}


{%block content %}







<section class="content">
    <div class="container-fluid">
      <!-- Info boxes -->
        <!-- /.col -->
        <div class="row">
       
    
    
    
    
    
    
    
    
    
    
    
    
    
  <section class="content">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">DataTable with minimal features & hover style</h3>
          </div>
        
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              
              <thead>
                <tr>
                <th>Name </th>
                <th>Day1</th>
                <th>Day2</th>
                <th>Day3</th>
                  
                  
                
              
              <tr>
              <td>Neha</td>
              <td><span class="badge badge-success">Present</span>
              </td>
              <td><span class="badge badge-success">Present</span></td>
              <td> <span class="badge badge-success">Present</span></td>
              
            </tr>
            <tr>
            <td>Anukriti</td>
            <td><span class="badge badge-success">Present</span>
            </td>
            <td><span class="badge badge-success">Present</span></td>
            <td> <span class="badge badge-success">Present</span></td>
            
          </tr>
          <tr>
          <td>Ashutosh</td>
          <td>Absent
          </td>
          <td><span class="badge badge-success">Present</span></td>
          <td> <span class="badge badge-success">Present</span></td>
          
        </tr>
        <tr>
        <td>Neelansh</td>
        <td><span class="badge badge-success">Present</span>
        </td>
        <td>Absent</td>
        <td> <span class="badge badge-success">Present</span></td>
        
      </tr>
      <tr>
      <td>Sayantani</td>
      <td>Absent
      </td>
      <td>Absent</td>
      <td> <span class="badge badge-success">Present</span></td>
      
    </tr>

              
              
            </table>
          </div>
          
        </div>
       
      </div>
            </div>
     </section>






















{%endblock%}